<h1>Buttons</h1>

<button md-button>Button</button>
<button  color="primary" md-raised-button>Primary</button>
<button  color="accent" md-raised-button>Accent</button>
<button  color="warn" md-raised-button>Warn</button>
<button  color="primary" md-fab><md-icon>check</md-icon></button>

<hr>

<h1>Chips</h1>
<md-chip-list>
  <md-chip
    (click)="selectCatagory(catagory)" 
    [selected]="catagory.selected"
    *ngFor="let catagory of catagories">{{ catagory.name }}</md-chip>
</md-chip-list>

<hr>
<h1>Progress Spinner</h1>

<md-progress-spinner mode="determinate" [value]="progress"></md-progress-spinner>
<md-progress-spinner mode="indeterminate"></md-progress-spinner>
<md-progress-spinner *ngIf="isLoading" mode="indeterminate"></md-progress-spinner>