
$color : green;

h1 {
    color: $color
}

h2 {
    color: $color
}

@mixin soft-border($border-radius) {
    border : 1px solid #ccc;
    border-radius: $border-radius;
    padding: 10px;
}

.box {
  @include soft-border(5px);
}

.modern-box {
    @include soft-border(10px);
  //...
}